# Terraform
kubeconfig_wrongsecrets-exercise-cluster
.terraform
.terraform.lock.hcl
.terraform*
terraform.tfstate*
aws/terraform.tfstate.*
aws/terraform.tfstate.backup
aws/.terraform.tfstate.lock.info

.idea
.DS_Store