# Terraform
kubeconfig_wrongsecrets-exercise-cluster
.terraform
.terraform
terraform.tfstate*
.terraform.tfstate*
aws/terraform.tfstate.*
aws/terraform.tfstate.backup
aws/.terraform.tfstate.lock.info
aws/cluster-autoscaler-autodiscover.yaml
aws/cluster-autoscaler-autodiscover.yaml-e
scripts/unusedteams.txt
scripts/users.csv
scripts/teams.csv
db.zip
.idea
.DS_Store
.letsencrypt

*.auto.tfvars
node_modules
.npm
