apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: {{ .Release.Namespace | quote }}
  name: balancer
  labels: {{- include "multi-juicer.balancer.labels" . | nindent 4 }}
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "create", "list", "delete", "patch", "watch"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["services"]
    verbs: ["get", "create", "delete"]
  - apiGroups: [""] # "" indicates the core API group
    resources: ["pods"]
    verbs: ["get", "list", "delete"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "create", "update", "watch"]
    resourceNames: ["multi-juicer-notification"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["create", "update"] # create doesn't properly work with resourceNames, for the initial reation of the multi-juicer-notification, we need general create permissions :(
