on: [push, pull_request]
permissions:
  contents: read
name: "Run Tests"
jobs:
  cleaner:
    name: Cleaner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install Balancer
        run: |
          cd cleaner
          npm ci
      - name: Run Linter
        run: |
          cd cleaner
          npm run lint
      - name: Test Balancer
        run: |
          cd cleaner
          npm test -- --ci --color --verbose
  balancer:
    name: Balancer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: "Install & Build BalancerUI"
        run: |
          cd wrongsecrets-balancer/ui
          npm ci
          npm run build
      - name: Install Balancer
        run: |
          cd wrongsecrets-balancer
          npm ci
      - name: Run Linter
        run: |
          cd wrongsecrets-balancer
          npm run lint
      - name: Test Balancer
        run: |
          cd wrongsecrets-balancer
          npm test -- --ci --color --verbose
