{
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2018
  },
  "extends": "eslint:recommended",
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "always"],
    "no-console": "off"
  }
}
